## Types of Programming Languages

- **Procedural Languages:** These languages are based on a procedural or step-by-step approach to solving problems. They focus on writing procedures or routines that define the sequence of steps to be executed.Examples include C, Pascal, and Fortran.
<br>
- **Functional Languages:** Functional languages treat computation as the evaluation of mathematical functions. They emphasize immutability and avoid changing state or mutable data. Example: Haskell, Lisp, and Erlang.
<br>

- **Scripting Languages:** Scripting languages are often used for automating tasks or writing small programs. They have concise syntax and are typically interpreted rather than compiled. Examples: Python, Ruby, and JavaScript.
<br>
- **Markup Languages:** Markup languages are used to define the structure and presentation of documents. They use tags to mark elements within the document. Examples include HTML for web pages and XML for data representation.
<br>
- **Declarative Languages:** Declarative languages express the desired result without specifying the step-by-step procedure to achieve it. SQL is an example of a declarative language used for database queries.
<br>
- **Low-level Languages:** Low-level languages are closer to the hardware and provide more direct control over the computer's resources. Examples include Assembly language and Machine code.
<br>
- **Object-Oriented Languages:** In object-oriented languages, data and functions are organized into objects, which encapsulate data and behavior together. Examples: Python, Java, C#
<br>
- **Domain-Specific Languages (DSLs):** DSLs are designed for specific domains or problem areas. They are tailored to address particular tasks efficiently. Examples include SQL for database querying and HTML/CSS for web development.
<br>
- **Concurrent and Parallel Languages:** These languages are designed to handle concurrent and parallel programming, allowing multiple tasks to be executed simultaneously. Examples include Go and Erlang.

### Runtime Vs Compile Time


Runtime and compile time are two distinct phases in the execution of a computer program. They represent different stages in the life cycle of a program, and understanding their differences is crucial for developers.

#### Compile Time:
Compile time refers to the phase of program execution when the source code is converted into machine code or bytecode by a compiler.
In compiled languages like C, C++, and Java, the code is first written by the programmer in a human-readable form (source code). The compiler then translates this source code into a lower-level representation that the computer can understand (machine code or bytecode).
During the compilation process, the compiler performs various tasks such as syntax checking, type checking, and generating intermediate code.
Any errors or issues in the code, such as syntax errors or type mismatches, are detected by the compiler at this stage, and the program cannot proceed to the next phase (runtime) until these issues are resolved.
Once the code is successfully compiled, an executable file or bytecode is generated, which can be executed at runtime.


#### Runtime:
Runtime refers to the phase of program execution when the compiled code is run and executed by the computer's processor.
During runtime, the compiled code is loaded into memory, and the processor executes the instructions one by one.
At this stage, the program interacts with the system resources, such as memory, files, and network, to perform its tasks.
If the program encounters any runtime errors, such as division by zero or out-of-bounds array access, it may terminate unexpectedly or produce incorrect results.

#### Basic Difference:
Compile time is the phase when the source code is translated into machine code or bytecode and checked for syntax and type errors. It happens before the program is executed.
Runtime is the phase when the compiled code is executed by the computer's processor and interacts with system resources. It happens during the actual execution of the program.

## Dynamic Typing

Dynamic typing is a programming language feature where the type of a variable is determined at runtime, rather than being explicitly defined at compile-time. In dynamically typed languages, variables can hold values of any type, and their type can be changed during the program's execution.

In Python, variables are dynamically typed, which means you don't need to explicitly specify the type of a variable when you declare it. You can assign any value to a variable, and Python will automatically determine its type based on the value assigned to it.

> x = 10      $\to$ x is an integer<br>
> x = "hello" $\to$ x is now a string<br>
> x = [1, 2, 3] $\to$ x is now a list

Here, the variable x is dynamically typed. It starts as an integer, then it becomes a string, and finally, it becomes a list.

Python is dynamically typed because it follows the philosophy of being a simple and expressive language. By allowing dynamic typing, Python provides flexibility and ease of use. Developers can focus on solving problems and writing code without worrying about explicit type declarations.

Dynamic typing also promotes faster development and prototyping since you can quickly change the behavior of variables without the need for recompiling or declaring types. 


Python's dynamic typing allows for flexibility but comes at the cost of additional type checks during runtime. This can slow down the execution of certain operations.

## Python as a High-level Language

A high-level language is a programming language that is designed to be user-friendly, readable, and closer to human language, making it easier for programmers to write and understand code. High-level languages abstract away the low-level details of computer hardware and memory management, providing a more convenient and efficient way to write complex programs.

# Introduction to Python

This brief introduction to the Python programming language aims to explain the Python concepts required in Data Science in a concise manner

## Table of Content


1. Types of Numbers in Python

2. Common Math Operations

3. Comments in Python

4. Variables

5. Case-sensitivity

6. Data types

7. Built-in Data Structures

8. Built-in Functions

9. Conditions

10. Loops

11. Custom Functions

### 1. Types of Numbers in Python

Put simply, there are only two major types of numbers in Python:

- Integers

- floats


Examples of integers are positive and negative whole numbers. For example -6,1, 100, and so on.

Examples of Floats are numbers that have decimal points. For example 5.5, 32.8, and so on.

### 2. Common Math Operations


https://www.geeksforgeeks.org/python-arithmetic-operators/

#### Addition:

- This is simply the sum of numbers.

- The "+" sign is used for addition

- If you add two integers together, you get an integer.

- If you add two floats together, you get a float.

- If you add an integer and a float together, you get a float as well

In [14]:
2 + 2

4

In [15]:
15.8 + 87.15

102.95

In [16]:
8 + 22.5

30.5

In [17]:
2 + 2.0

4.0

#### Subtraction:

- This is simply the difference between numbers.

- The "-" sign is used for addition

- If you subtract two integers, you get an integer.

- If you subtract two floats, you get a float.

- If you subtract an integer from a float or vice-versa, you get a float as well

In [18]:
2 - 5

-3

In [19]:
27.4 - 14.8

12.599999999999998

In [20]:
34 - 58.4

-24.4

#### Multiplication


- This is simply the product of numbers.

- The "*" sign is used for addition

- If you multiply two integers together, you get an integer.

- If you multiply two floats together, you get a float.

- If you multiply an integer and a float together, you get a float as well

In [21]:
-27 * 4

-108

In [22]:
88 * 88

7744

In [23]:
334.2592 * 242.05

80907.43936

In [ ]:
print("Iyiola and Mrs. Modupe are in Data Science class")

2000/0

print(2+10)

#### Division:


- This is simply the quotient of two numbers.

- The "/" sign is used for addition

- If you divide two integers, you get a float.

- If you divide two floats, you get a float.

- If you divide an integer and a float, you get a float as well

- We should always **avoid dividing by zero**

In [24]:
18/9

2.0

In [25]:
45.8/2

22.9

### How Python runs code:


- Python runs each code line-by-line starting from the beginning of the cell to the end of the cell.

- A cell is this box that code is being typed in. The next cell after this cell is numbered 65.

In [ ]:
print("desperate man AKA Desperado!")

33 - 48

2000/0

print(2 + 10)

### Explanation of the above error:


- Python runs code line-by-line.

- The print statement is run first, then, the next line is run.

- The next line is 2000 divided by 0. This is a calculation error so python stops running the code within the cell and returns a ZeroDivisionError.

- After returning this error, the last line of print(2 + 10) is not run because python will not continue the execution of a code unless all codes are correct.

#### Exponentiation:


- This just simply implies raising one number to a power. For example, $2^2$ or $5^{-11}$

- It is written using the symbol "**"

- It is also written using the syntax: pow(base, power).

In [26]:
#2 to the power of 4

2 ** 4

16

In [27]:
#3 to the power of 20

pow(3,20)

3486784401

In [5]:
52*40

2080

#### Modulo:

- This is used to return the remainder of a valid division operation.

- For example, If we were to divide 23 by 4, we find that we can only have 4 go into 23 5 times and there would be a remainder of 3. Using this Modulo operation, we expect that it should give us a result of 3 if it is performed with 23 and 4.

In [28]:
15 % 7

1

In [29]:
20%7

6

In [30]:
23 % 4

3

#### Integer Division:

- This is used to return the quotient of a valid division operation

- For example, integer division of 23 divided by 4 gives us 5 as the answer since 5 is the quotient and 3 is the remainder.

In [31]:
15 // 7

2

In [32]:
23 // 4

5

In [8]:
6%2//2

0

### Activity:

Comparing your level of arithmetic with Python's.

1. $(10+5)\times(6-2)\div(8+4)$
<br>

2. $[(5+2)\times (9-3)]\div 6+2+7 \times 3-10 \div 2$
<br>

3. $[(4+2)\times 10 -5] + [3 \times (8\div 2)-1] \div (7+2) +(9\times 3)-[(6-2)\times (15\div 3)] +5$
<br>

4. $(4+2)\times (10 - 5) + 3\times (8\div 2) -1 \div (7+2) + 9\times 3 - (6-2)\times (15\div 3) + 5 + 20 - 10+ 15 \div 5 - 3 + 7$
<br>

5.  You are designing a pattern for a carpet or wallpaper (1st tile: red, 2nd tile: blue, 3rd: yellow, 4th: green, 5th: orange, 6th: purple, 7th: peach). The pattern repeats every 7 tiles. If you know the position of the first tile, which color will the 205th tile be? 
<br>

5. $100 \text{ % } 26 \text{ // } 5 + 2$

### 3. Adding Comments



Comments are extra bits of information about a piece of code. They are used to explain what the code does. 

It is important to comment your lines of code so that if you come back to the code after months or even years later, you can still understand the code because its operation was well explained in the comments.

https://www.simplilearn.com/tutorials/python-tutorial/comments-in-python#:~:text=Comments%20in%20Python%20are%20identified,a%20multi%2Dline%20comment%20block.


There are two types of comments. These are:

- Comments with quotation marks

- Comments with the hashtag


**Quotation marks**:

These are comments that python recognizes as a string. A string is just the representation of how to write any type of text.

Anything can be written inside quotation marks. "I am a boy", "4", "#@@#$". All these are comments with quotation marks.

Also, single quotation marks and double quotation marks serve the same purpose


**Hashtag**:

These are what you can call pure comments in python. They do not serve any other purpose than to give more information to the reader of the code about what has been typed.

In [33]:
#This is an example of a comment with hashtag

Mrs_Modupe ='Single Quotation mark'

'Jare said "I am a short boy"'
"Double" 
"Quotation mark"

"""Triple Quotation mark

it extends from line to line till the closing triple quotes"""

'Triple Quotation mark\n\nit extends from line to line till the closing triple quotes'

### 4. Variable Assignment

https://realpython.com/python-variables/#:~:text=A%20Python%20variable%20is%20a,still%20contained%20within%20the%20object.

In Python, variable assignment is the process of associating a name (the variable) with a value. When you assign a value to a variable, you are creating a reference to that value, allowing you to use the value later in your code using the variable name.

The general syntax for variable assignment in Python is:

> **variable_name = value**


**Rules of Variable Assigment**

1. 1. Valid Variable Names: Variable names can contain letters (both uppercase and lowercase), digits, and underscores (_). However, they must start with a letter or an underscore. Python is case-sensitive, so variables named "my_var" and "My_Var" are considered different.

2. Numbers must never come first

3. No Reserved Keywords: You cannot use reserved keywords (e.g., if, else, while, for, etc.) as variable names since they have special meanings in Python.

4. No Spaces or Special Characters: Variable names cannot contain spaces or special characters (e.g., !, @, #, etc.).

5. Avoid Using Built-in Names: It is best to avoid using names that are already used as built-in functions or predefined names in Python (e.g., print, str, int, etc.), as this may lead to unintended behavior or errors.

6. Meaningful Names: Use meaningful and descriptive names for your variables to make your code more readable and understandable.

7. Snake Case: The convention in Python is to use snake_case for variable names, where words are separated by underscores (e.g., my_variable_name).

We can assign variable names to numbers as shown below:

In [34]:
x = 5

#x = 10

x = -80

x

-80

We can assign variable names to strings as shown below:

In [35]:
x = "jare"

In [36]:
y = "Iyiola"

In [37]:
x = y

x

'Iyiola'

In [38]:
y

'Iyiola'

We can assign multiple variables to multiple values on the same line in the following way:

In [39]:
j, k, l = 50, 50, 45

In [40]:
print(l)

45

We can update the value of a variable in the following way

In [41]:
#Subtracting 5 from a variable

j = j -5
j

45

In [42]:
#Adding 5 to a variable

k = k + 5
k

55

In [43]:
# Adding 5 to variable

l = l + 5
l += 5
l

55

In [44]:
#Subtracting 6 from a variable

l -= 6
l

49

In [45]:
#Multiplying a variable by 2

l *= 2
l

98

In [46]:
#Dividing a variable by 2

l /= 2
l

49.0

In [47]:
#How to name variables

_2boys = "two"

Jare9 = "Teacher"

jare = "erty"

jare

'erty'

### Implicit questions


These are questions that we ask python by assigning one variable to another.

The operators we use for this type of question are:

"==": Is the item on the left equal to the item on the right?

">": Is the item on the left greater than the item on the right?

"<": Is the item on the left less than the item on the right?

">=": Is the item on the left greater than or equal to the item on the right?

"<=": Is the item on the left less than or equal to the item on the right?

"!=": Is the item on the left not equal to the item on the right?

In [48]:
#2 == 2

3 == 4

False

In [49]:
2 != 7

True

In [50]:
#5 > 6

#5 >= 6

#5 < 6

#5 <= 6

5 <= 5

True

In [51]:
True = 4

SyntaxError: cannot assign to True (<ipython-input-51-761ed92244d3>, line 1)

### 5. Case Sensitivity


The python programming language is case-sensitive. This means that "J" and "j" are two different strings. The case-sensitivity also extends to the variable names. If a variable name is var_1. This variable name is different from Var_1.

In [ ]:
x = "Jare"

y = "jare"

x == y

### 6. Other Data Types

https://www.digitalocean.com/community/tutorials/python-data-types

#### Boolean

In [ ]:
#Bool or Boolean

x = True

y = False

*Note: You cannot assign python keywords to variables*

#### Boolean Operators


https://realpython.com/python-boolean/

In [ ]:
#NOT

not False

In [ ]:
not True

In [ ]:
#AND

True and False

#True and True

#False and False

#False and True

In [ ]:
#OR

True or False

#True or True

#False or False

#False or True

In [ ]:
1 == 1.0

In [ ]:
#IS

x = 5

x is x

x is not x

y = 10

x is y

x is not y

In [ ]:
x is not y

In mathematics, logic dictates that True = 1 and False = 0. This is the same with python and so we can perform some mathematical operations with them in the following way:

In [ ]:
True == 1

In [ ]:
False == 0

In [ ]:
True + False + True + False

In [ ]:
(True + True)*(True + True)

### Writing Mathematical Formulas


With the information given so far, we can write any mathematical formula in python and use them to make very fast computations.

The examples given below are:

- Applying the Quadratic Formula (Almighty Formula) to solve the quadratic equation:

> $5x^2+10x-50=0$

- Mean of 10 numbers: 137, 205, 300, 215, 228, 197, 296, 144, 177, 222

- Area of a Trapezium of height 8, upper base 6 and lower base 10

**Example 1**:

The quadratic formula is:

$x = \frac{-b+\sqrt{b^2-4ac}}{2a}$  and    $x = \frac{-b-\sqrt{b^2-4ac}}{2a}$


From the question given, we have the following:

$a=5,b=10,c=-50$

In [ ]:
import math


a = 5

b = 10

c = -50

x_1 = (-b + math.sqrt(b**2 - 4*a*c))/(2*a)

x_2 = (-b - math.sqrt(b**2 - 4*a*c))/(2*a)

x_1

In [ ]:
x_2

We can do this operation in another way given below:

In [ ]:
a = 5

b = 10

c= -50

x_1 = (-b + (b**2 - 4*a*c)**0.5)/(2*a)

x_2 = (-b - (b**2 - 4*a*c)**0.5)/(2*a)

x_1

In [ ]:
x_2

**Example 2:**

The formula for the mean is:

$\bar{x} = \frac{\sum_{i=1}^{i=10} x_i}{10} = \frac{x_1+x_2+x_3+...x_9+x_{10}}{10}$


That is, we sum all the numbers and then divide by the number of values given.

In [ ]:
mean = (137 + 205 + 300 + 215 + 228 + 197 + 296 + 144 + 177 + 222)/10

mean

**Example 3:**

The formula for the area of a trapezium is:

$A = \frac{h(m+n)}{2}$

where,

$h$ is the height of the trapezium

$m$ is the upper base of the trapezium

$n$ is the lower base of the trapezium

In [ ]:
h = 8

m = 6

n = 10


A_t = (h*(m+n))/(2)

A_t

### Homework

1. Answer the following questions: https://quizizz.com/admin/quiz/5cd4265c88978d001a646e68/python-arithmetic-operators

2. The formula for converting between Celsius and Fahrenheit is $(32F-32)\times\frac{5}{9}=C$. Write this formula in python and use it to convert $200^{\circ}$F to celsius

3. The area of a Stadium of length  500m and breadth 200m (Hint: Area = length x breadth)

4. The volume of a tank of length 240cm, breadth 160cm and 268cm wide. (Hint: Volume = Length x breadth x width)

5. The simple interest at a principal of 250,000 naira, rate of 6% and in two years. (Hint: Simple Interest =( principal x rate x time)/100)

6. Goods in a container cost 120,000,000 naira. If the goods were sold at 150,000,000 naira, what is the percentage profit on the gooods. (Hint: profit = Selling price â€“ cost price) (Percentage profit = (profit/cost price) x 100)

#### String


Strings have already been discussed earlier in the section for Comments. However, there are some operations called "methods" that we can perform on strings to help us manipulate strings the way we want.

There are several methods for manipulating strings but the most important methods have been given below:

The various string methods we shall look at are:

- slicing<br>
- strip<br>
- lstrip<br>
- rstrip<br>
- strip with character<br>
- replace<br>
- split(, maxsplit = ...)<br>
- rsplit(, maxsplit)<br>
- .join()<br>
- .upper, .lower, .capitalize<br>
- .islower, isupper<br>
- isalpha, isnumeric, isalnum<br>
- count()<br>
- .find()<br>
- .rfind()<br>
- .startswith<br>
- .endswith<br>
- partition(seperator)<br>
- f-strings<br>
- swapcase()<br>
- len()<br>

In order to make use of the methods, it is imperative to always use a dot "." before using the name of the method.

For example, given a string "I am a boy". 

To make all the letters in the statement capitalized, we use the method **.upper()**. This is shown below:

In [ ]:
"I am a boy".upper()

You might have noticed that the method .upper() has a bracket after it. For most methods in python, we have a bracket after them and this is just the convention. The bracket also serves other uses which will be discussed later on in this notebook.

For now, just know that there are brackets that accompany methods in most cases but in some cases, there might not be a bracket.

To explore these string methods in python, we shall use the string "My name is Modupe". We will assign it to a variable x.

This is so that we can work with variable x, instead of the actual string "My name is Modupe". 

The reason for doing this is mostly for convenience since it is easier to type x, instead of the statement "My name is Modupe".

In [ ]:
"500" + "200"

In [ ]:
x = "My name is Modupe"

x[0:6] + x[9:11]

In [ ]:
#Slicing

x[3:5]

In [ ]:
#Strip, lstrip, rstrip, strip with character
x = "    My name is Modupe   "
x.strip()

In [ ]:
x = "    My name is Modupe   "

x.strip()

#x.lstrip()

#x.rstrip()

In [ ]:
x = "##My name is Modupe##"

x.strip("#")

In [ ]:
#Replace
x.replace("#", "*")

In [ ]:
#split, rsplit

x.split(" ")

#x.split(" ", 2)

#x.rsplit(" ", 2)

In [55]:
#join

y = ["John", "is", "a", "boy"]

" ".join(y)

'John is a boy'

In [60]:
string1 = " ".join(y)

string1.split("o")

['J', 'hn is a b', 'y']

In [65]:
#Upper, Lower, Capitalize

x.upper()

#x.lower()

#x.capitalize()

'Iyiola'

In [73]:
#isupper, islower

x.isupper()

#x.islower()

False

In [83]:
#isalpha,isnumeric,isalnum,isdigit

x = "45, 56"

#x.isalpha()

x.isnumeric()

#x.isalnum()

#x.isdigit()

False

In [91]:
#count
x = "My name is ModupMe Iyiola Priscillia"
x.count(" ")

#x.count("m")

5

In [112]:
for index, letter in enumerate(x):
    if letter == "M":
        print(f"The index is: {index}")

The index is: 0
The index is: 11
The index is: 16

In [93]:
#Find

x.find("M")

x.rfind("M")

16

In [98]:
#startswith

x.startswith("M")

True

In [ ]:
#endsiwth

x.endswith("j")

In [100]:
#partition by a character or word

x.partition(" ")

('My', ' ', 'name is ModupMe Iyiola Priscillia')

In [101]:
#F-strings

f"{x}"

y = "Tolu"

f"{x} and {y} is my friend"

'My name is ModupMe Iyiola Priscillia and Tolu is my friend'

In [110]:
#Swapcase

x[0:10].swapcase() + x[10:]

'mY NAME IS ModupMe Iyiola Priscillia'

In [107]:
50 + 35

85

In [111]:
#len

len(x)

36

In [113]:
len("Ben is a boy")

12

### Activity:

**Answer the following questions about Python strings**

1. Create a string variable greeting and assign it the value "Hello, World!". Print the length of the string.
2. Given the string "Python is awesome!", use string slicing to extract and print the word "awesome".
3. Convert the string "python is FUN" to all lowercase and print the result.
4. Replace all occurrences of the letter 'o' with 'x' in the string "onomatopoeia".
5. Check if the string "python" starts with the letter 'p' and ends with the letter 'n'. Print True or False accordingly.
6. Count the number of occurrences of the substring "is" in the string "Mississippi".

### Built-in Data Structures


These are simply objects in python that help us store and manipulate data.

So far, we have discussed how numbers and strings themselves can be manipulated and stored in variables. This level of manipulation and storage is not sufficient for Data Science. We are going to be working with millions of rows and columns of data and simply working with variable assignment and string manipulation won't cut it. This is one of the main reasons we need to learn Data Structures.


For now, we would focus on the Built-in Data Structures within the Python programming language. These structures have parallels in other programming languages as well. So they are universal for anyone trying to use a programming language to achieve anything at all, from website creation, to hacking.


The 4 major Data Structures are:

- Lists

- Tuples

- Sets

- Dictionaries

#### Lists:


This is simply a collection of items. Items could be numbers, strings, or any other type of objects we have yet to discuss in python.

It has certain properties that sets it appart from other Data Structures, but these properties will be discussed later. For now, we introduce these data structures.

**A list with numbers:**

In [ ]:
A = [2, 4, 6, 8]

A

In [117]:
type(None)

NoneType

**A list with strings:**

In [ ]:
B = ["Modupe", "Iyiola", "Priscillia"]

B

A list can contain a mixture of numbers and strings and even other lists. It can contain a Tuple, a Set or Dictionaries.

In [ ]:
y = ["kunle", 5, 10.5, ["another list", "is", "in", "this", "list y"]]
y

**Tuple**:

This can also hold any type of objects just like a list. And just like lists, it has its set of unique properties discussed later

In [ ]:
C = (2, 4, 7, 8)

C

**Sets**:


This is another collection of items, only this time, the items must not be duplicated and they must be arranged in ascending order

In [118]:
D = {2, 1, "two", 2, 3, 3, 0}

D

{0, 1, 2, 3, 'two'}

**Dictionaries**:

A dictionary contains key-value pairs. A value can easily be accessed via its key.

In [119]:
E = {"one": 1, "two" : 2, "three": 3}

E

{'one': 1, 'two': 2, 'three': 3}

**Properties of Data Structures**:


**List**:
- Mutable: Lists can be modified, elements can be added, removed, or modified after creation.
- Ordered: Elements in a list have a specific order and can be accessed using indexing.
- Allows Duplicate Elements: Lists can contain duplicate elements.
- Dynamic Size: Lists can change in size dynamically as elements are added or removed.
- Represented by square brackets [ ]

**Tuple**:

- Immutable: Tuples cannot be modified after creation, making them useful for data that should not change.
- Ordered: Like lists, elements in a tuple have a specific order and can be accessed using indexing.
- Allows Duplicate Elements: Tuples can contain duplicate elements.
- Static Size: Tuples have a fixed size after creation.
- Represented by parentheses ( )


**Set**:
- Mutable: Sets can be modified by adding or removing elements.
- Unordered: Sets do not have a specific order, and elements are not indexed.
- Unique Elements: Sets do not allow duplicate elements, ensuring each element is unique.
- Dynamic Size: Sets can change in size dynamically as elements are added or removed.
- Represented by curly braces { }.


**Dictionary**:
- Mutable: Dictionaries can be modified, elements can be added, removed, or modified after creation.
- Unordered: Dictionaries do not have a specific order, and elements are accessed using keys.
- Key-Value Pairs: Dictionaries store data in the form of key-value pairs.
- Unique Keys: Dictionary keys must be unique, ensuring each key maps to a unique value.
- Represented by curly braces { } with key-value pairs separated by colons.

Below, we shall proceed to explain these properties.

**List**

In [121]:
# Lists are ordered

L = ["a", "c", "b"]

M = ["a", "b", "c"]

N = ["a", "b", "c"]

L == M

M == N

True

In [124]:
# Lists can contain any arbitrary objects.

L = ["one", 2, "three", 4, None]

L

['one', 2, 'three', 4, None]

In [125]:
# Lists are accessed by index

L[0]

L[1]

L[2]

L[3]

4

In [126]:
# Lists can be nested

M = ["Father", "Mother", ["Brother", "Sister"]]

M[0]

M[1]

M[2]

M[2][0]

M[2][1]

'Sister'

In [127]:
# Lists can be mutable or changeable

N = ["Apple", "Samsung", "Nokia"]

N += M

N

['Apple', 'Samsung', 'Nokia', 'Father', 'Mother', ['Brother', 'Sister']]

In [ ]:
N[0] = 1

N

**Tuple**

In [ ]:
# Tuples are ordered

T = (1, "a", 2, "b")

U = (1, 2, "a", "b")

T == U

In [ ]:
# Tuples are unchangeable

T[1] = 19

In [ ]:
# Allow duplicates
R = (1, 1, 4, 2, 4, 4, 2)

R

Sets

In [ ]:
D = {2, 1, "two", 2, 3, 3, 0}

**Dictionary**:

In [ ]:
E = {"one": 1, "two" : 2, "three": 3}

#Keys are unique
E["one"]

### Assignment

#### Strings
1. Given the string " Python Programming is fun! ", remove the leading and trailing whitespaces and print the result.
2. Check if the string "racecar" is a palindrome (reads the same forwards and backward). Print True or False accordingly.
3. Use string concatenation to combine the strings "Hello" and "World" into a single string and print the result.
4. Given the string "banana", find the index of the first occurrence of the letter 'a' and print it.